:root {
    --color-darkblue: #1F618D;
    --verde-agua: #1AABAB;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
}

header {
    position: relative;
    border-bottom: 10px solid black;
    padding: 0 10px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    background: #3498db;
}

header img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 10px;
    background-size: cover;
}

nav {
    margin-right: 30px;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
    transition: 400ms;
    font-family: 'Press Start 2P', cursive;
}

header a:hover {
    color: var(--color-darkblue);
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-darkblue);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 3px 3px black;
    transition: 400ms;
    margin-right: 30px;
    cursor: pointer;
}

button:hover {
    color: #1F618D;
    background-color: #1AABAB;
}

.layout {
    width: 100%;
    max-width: 1440px;
    background: url("../assets/img-tema.svg") no-repeat;
    margin: auto;
    height: 100vh;
}

.card {
    position: absolute;
    width: 674px;
    height: 184px;
    background: var(--color-darkblue);
    left: 70px;
    top: 205px;
    box-shadow: 5px 5px black;
}

.card h1 {
    color: var(--verde-agua);
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 3px 3px black;
    text-align: center;
    margin-top: 50px;
}

.card h2 {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-shadow: 3px 3px black;
    text-align: center;
}

.card-button {
    position: absolute;
    width: 674px;
    height: 60px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button button {
    width: 225px;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 30px;
    background-color: var(--color-darkblue);
    color: #fff;
    margin: 20px;
    box-shadow: 3px 3px black;
}

.card-button button:hover {
    color: #1F618D;
    background-color: #1AABAB;
}

input[type=checkbox] {
    display:none;
}



@media screen and (max-width: 800px) {
    .layout { 
        height: 40vh;
    }

    header button {
        margin-right: 5px;
    }

    header img {
        left: 45%;
    }

    .content nav {
        margin-right: 0;
    }

    .content a {
        color: var(--color-darkblue);
        font-size: 18px;
        margin: 10px;
        font-family: 'Press Start 2P', cursive;;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 100px;
        width: 90%;
        left: 22px;
    }

    .card h1 {
        font-size: 22px;
        margin-top: 10px;
        
    }

    .card h2 {
        font-size: 18px;
    }

    .card-button {
        display: none;
    }


    input[type=checkbox] {
        display:none;
    }

    header .control-nav {
        position: absolute;
        left: 40px;
        top: 32px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #04385A;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    
    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #04385A;
    }
    
    header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #CDEBFF;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
        
    #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
}